/* Styles here */

.content-block {
    display: none;
    min-height: 400px;
    outline: 1px solid gray; /*remove this property*/
}

.content::backdrop{
    background-color: white;
}
button{
    float: right;
    background-color: transparent;
    border: 2px solid gray;
}
.hidden{
    visibility: hidden;
}
.visible{
    visibility: visible;
}
table{
    margin: 20px;
    width: 600px;
}
table, tr, th , td{
    border: 1px solid gray;
    background-color: white;
}

